.navbar{
    border-bottom: 3px solid var(--color-orangefire);
    background-color: var(--color-lightdark) !important;
}

.nav-link{
    transition: all 0.3s;
}

.nav-link:hover{
    color: var(--color-orangefire) !important;
}

.user-icon{
    transition: all 0.3s;
}

.user-icon:hover{
    color: var(--color-orangefire) !important;
}



